@import url('https://fonts.googleapis.com/css?family=Fresca|Montserrat');
body {
  font-family: Fresca;
  color: lightgrey;
  background-image: url("http://cdn.wallpapersafari.com/74/44/IMvbml.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#city {
  text-shadow: 3px 4px rgba(0, 0, 0, 0.3);
  font-style: italic;
}
#description {
  text-transform: capitalize;
  margin-top: -25px;
}

#temperature {
  font-family: monospace;
}
#temperature::after {
  content: "°";
}
.btn {
  width: 15em;
}
